body{
    font-family: 'Barlow', sans-serif !important;
}
main{
    font-family: 'Barlow', sans-serif !important;
}

/* header banner  */

/* .swiper-container-autoheight{
    height: 100% !important;
} */

.section_slideshow .h1.block-title p strong{
    color: black;
}
.caption-item p{
    color: black;
    font-size: 0.9em;
}
.section_slideshow .h4.block-subtitle p{
    font-weight: 600 !important;
    color: #F63C25 !important;
    /* font-size: 1.8em !important; */
    letter-spacing: 0.05em !important;
}
.btn-sm{
background: #F63C25;
border: 1px solid #F63C25;
padding: 15px 30px;
color: white;
font-family: 'Barlow', sans-serif !important;
font-weight: 600;
border-radius: 35px;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    opacity: 1;
    outline: none;
    background: white;
    transition: all .3s ease-in-out;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: #F63C25;
    width: 25px;
    height: 7px;
    border-radius: 5px;
    border: 1px solid #F63C25;
    cursor: default;
    pointer-events: none;
}

/* main  */

/* <a href="/collections/all" class="btn btn-primary btn-md" bis_skin_checked="1">Shop now</a> */

#shopify-section-template--18057764241682__162789983429f786d4 > div.divider_item.d-none.d-lg-block.container{
padding-top: 30px !important;
}
.section-style-template--18057764241682__164145554029689e88{
    height: 460px !important;
    /* padding-bottom: 30px; */
    overflow: hidden;
}
.image-item-wrapper{
    height: 100% !important;
}

.image-item-wrapper img{
    height: 100% !important;
}
.section-style-template--18057764241682__164145554029689e88 .caption{
    padding: 2% 4% 0% 10% !important;
}


/* banner  */

.buttonDiv{
    background: #F63C25;
}

.caption-text .block-title {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

}

.caption-item p{
    font-weight: 600 !important;
    font-family: 'Barlow', sans-serif !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    line-height: normal !important;
    font-size: 0.7em !important;
}
.caption-item h5{
    font-weight: 500 !important;
    font-family: 'Barlow', sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}
.block-text{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.section .banner-caption {
    padding-top: 12px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    /* padding-bottom: 20px !important; */
}
.btn-secondary{
    color: white;
    border-radius: 45px;
    border: 1px solid white;
    font-weight: 600;
    margin-bottom: 20px !important;
}

#shopify-section-template--18057764241682__16414608074ede0d57 > div > div > div > div:nth-child(1),
#shopify-section-template--18057764241682__16414608074ede0d57 > div > div > div > div:nth-child(2){
    position: relative ;
}

#shopify-section-template--18057764241682__16414608074ede0d57 > div > div > div > div:nth-child(1) > div > div ::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 12px;
    border-style: solid;
    border-color: #F63C25 transparent transparent transparent;
  }

  #shopify-section-template--18057764241682__16414608074ede0d57 > div > div > div > div:nth-child(2) > div > div ::after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 70%;
        margin-left: -5px;
        border-width: 12px;
        border-style: solid;
        border-color: #F63C25 transparent transparent transparent;
  }


  #shopify-section-template--18057764241682__1627900045d25f9b47 > div.divider_item.d-none.d-lg-block.container{
    padding: 30px 0 !important;
  }


/* card  */

.productHeadingSection{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 20px auto;
    gap: 10px;
}
.borderProductHeading{
    width: 60px;
    border-bottom: 1px solid rgba(180, 181, 197, 0.986);
}
.headingSub{
    color: #F63C25;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 1.2em;
    margin: 0 !important;
    padding: 0 !important;
}
.section_heading{
    font-weight: 900 !important;
    font-family: 'Barlow', sans-serif !important;
    font-size: 2.5em !important;
    text-align: center !important;
    text-decoration: underline;
    margin-bottom: 30px !important;
}
#shopify-section-template--18057764241682__1641457524d64a966e > div > div > div.tab_content_wrapper > div.tab_navigation.row{
    text-align: center !important;
    width: fit-content !important;
    margin: 0 auto !important;
    padding: 0 !important;
}
#shopify-section-template--18057764241682__1641457524d64a966e > div > div > div.tab_content_wrapper > div.tab_navigation.row > div:nth-child(2) > span{

    font-weight: 900 !important;
    font-family: 'Barlow', sans-serif !important;
    font-size: 2.5em !important;
    display: none !important;
}
.section_featured-products-tabs * + .tab_content_wrapper{
    max-width: 1100px;
    width: 75%;
    margin: 0 auto ;
    margin-top: 15px !important;
}
/* product button  */

.product_listing__grid .product_img_wrap .product-buttons, .product_listing__grid_large .product_img_wrap .product-buttons, .product_listing__grid_small .product_img_wrap .product-buttons, .product_listing__main:not(.product_listing__list) .product_img_wrap .product-buttons {
    /* position: absolute; */
    /* bottom: 20px;
    left: 0;
    right: 0; */
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 2;
}
.product_listing__grid .add_to_cart_button, .product_listing__grid .quick_view_icon, .product_listing__grid_large .add_to_cart_button, .product_listing__grid_large .quick_view_icon, .product_listing__grid_small .add_to_cart_button, .product_listing__grid_small .quick_view_icon, .product_listing__main:not(.product_listing__list) .add_to_cart_button, .product_listing__main:not(.product_listing__list) .quick_view_icon{
/* color: #F63C25;
background: #F63C25; */
min-width: 35px !important;
width: 40px !important;
min-height: 35px !important;
height: 40px !important;
background: transparent !important;
}

 .tooltip{
    z-index: -4 !important;
color: #F63C25;
background: #F63C25;
border-radius: 50%;
}
/* product single page  */

#shopify-section-template--18057764176146__main > section > div > div > div{
    max-width: 1100px !important;
    width: 75% !important;
    margin: 0 auto  !important;
}
#gallery_big-template--18057764176146__main{
    width: 400px !important;
    height: 400px !important;
    overflow: hidden !important;
}
#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__img.col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-6.mb-3{
    width: 100% !important;
    /* overflow: hidden; */
}

/* working  */
#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__img.col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-6.mb-3 > div{
    width: 400px !important;
}
#gallery_big-template--18057764176146__main > div.swiper-wrapper{
    width: 400px !important;
    height: 400px !important;
}
#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__info.col-12.col-lg-6.stickyimgprheight-js{
    /* width: 400px !important; */
    /* height: 400px !important; */
}
#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__info.col-12.col-lg-6.stickyimgprheight-js

#gallery_big-template--18057764176146__main > div.swiper-wrapper > div.swiper-slide.swiper-slide-active{
    width: 400px !important;
    height: 400px !important;
}
#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__img.col-12.col-sm-10.offset-sm-1.offset-lg-0.col-lg-6.mb-3{
    width: fit-content !important;
    height: fit-content !important;
}
.section_template__product .single_product__availability.left_stock{
    background: #F63C25;
}
.section_template__product *+.size_product__options, .section_template__product *+.single_product__quantity, .section_template__product *+.color_product__options, .section_template__product *+.size_product__options, .section_template__product *+.single_product__options, .section_template__product *+.product__options, .section_template__product .selector-wrapper+.selector-wrapper, .section_template__product *+.single_product__short_desc, .section_template__product *+.single_product__price {
    margin-top: 1rem !important;

}
.section_template__product .single_product__price .product-price{
    color: #F63C25;
}
#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__info.col-12.col-lg-6.stickyimgprheight-js > div.single_product__details > form > div > div.product__options.mb-0 > div > div.header{
    font-weight: 600 !important;
}

#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__info.col-12.col-lg-6.stickyimgprheight-js > div.single_product__details > form > div > div.single_product__quantity > div


/* end product single page  */

.product-price-container{
    text-align: left !important;

}
.product-price-container span {
    color: #F63C25 !important;
    font-size: 1.2em !important;
}
.spr-badge{
    text-align: left !important;
}
.product_name {
    font-weight: 500 !important;
    text-align: left;
    font-family: 'Barlow', sans-serif !important;
}
#shopify-section-template--18057764176146__main > section > div > div > div > div.single_product__info.col-12.col-lg-6.stickyimgprheight-js > div.single_product__details > form > div > h2{
    font-weight: 700;
}

.product-add-to-cart-wrapper{
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
}
.amountDiv{
    display: flex ;
    align-items: center;
    margin-bottom: 15px;
}
.amountDiv label{
    margin-right: 10px !important;
    font-weight: 600 !important;
}
.amountDiv .quantity_box{
    border-radius: 5px ;
    margin-right: 15px;
}
.section_template__product .single_product__quantity .quantity_box input{
    height: 2rem !important;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}
.buttons .buyoneclick{
    min-width: 0 !important;
    width: 47% !important;
    margin-top: 0 !important;
}
.section_template__product .single_product__quantity .btn-add-to-cart, .section_template__product .single_product__quantity .wishlist_btn{
    margin: 0 !important;
    min-width: 0 !important;
    width: 47% !important;
    text-align: center;
    padding: 14px 0 !important;
    background: #F63C25;
    color: white;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 600;

}
.section_template__product .single_product__quantity .btn-add-to-cart, .section_template__product .single_product__quantity .wishlist_btn svg{
    /* display: none !important; */
}
.section_template__product .single_product__quantity .btn-add-to-cart>span svg{
    display: none !important;
}
.section_template__product .single_product__quantity .btn-add-to-cart>span{
    padding: 0 !important;
}


/* pop up button  */
#contact_form > button{
    background: #F63C25;
    color: white;
}
#contact_form > button:hover{
    background: white;
    color: #F63C25;
    border: 1px solid #F63C25;
}
#newsletter_off:hover{
    color: #F63C25;
    cursor: pointer;

}


/* footer  */

footer {
    font-family: 'Barlow', sans-serif !important;
    color:white ;
    background-color: #101010 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
#newsletter{
    /* background: -webkit-linear-gradient(left,#fa5a47,#b8240a);
    background: linear-gradient(to right,#fa5a47,#b8240a); */
    background: #F63C25 !important;
    /* background: #b8240a !important; */
    border: none !important;

}
.newsletter-title{
    font-family: 'Barlow', sans-serif !important;
    font-weight:700 !important;
    color: white !important;

}
/* input tag  */

.footer_item__newsletter .form-wrapper {
    border: 1px solid white;
    border-radius: 50px;
}

.footer_type_1 .newsletter__input {
border: none;
}
.footer_type_1 .newsletter__input::placeholder{
    color: white;
}
.footer_type_1 .footer_item__newsletter .type-line .form-wrapper{
    padding-right: 0 ;
}
.footer_type_1 .footer_item__newsletter .type-line .form-wrapper .btn{
    border-radius: 50px;
}

#footerDown{
background-color: #101010 !important;
border: none !important;
padding-bottom: 0 !important;
margin-bottom:  60px !important;
}

.footerLogo{
    height: 80px;
    width:auto;
}
.logoText{
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    text-align: left !important;
}
.footerDesc{
    font-size: 1.1em;
    line-height: 24px;
    margin-top: 20px;
    text-align: left;
}
.location, .phone{
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 10px;
}
.location p {
    font-size: 1.2em;
    text-align: left;
    margin-top: 0px;
}
.phone p {
font-size: 1.4em;
font-weight: bold;
margin-top: 0px;
}

#footerLink{
    color: white;
    font-size: 1.1em;
    margin-bottom: 6px;
}
#linkHeader{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Barlow', sans-serif !important;
}
#sendEmail{
    color: white !important;
}
.copypright{
    background-color: #101010 !important;
    border: none !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    width: fit-content !important;
    text-align: center !important;
    margin: auto !important;
    margin-bottom: 30px;
}
.copypright .copyrightText{
    text-align: center !important;
    margin: auto !important;
}
footer .contact_list  {
    text-align: left;
}


/* footer media  */

@media (max-width: 992px){
    .section_featured-products-tabs * + .tab_content_wrapper{
        max-width: 100%;
        width: 90%;
        margin: 0 auto ;
        /* margin-top: 15px !important; */

    }
    .image-item-wrapper{
        height: 100% !important;
    }

    .image-item-wrapper img{
        height: 100% !important;
    }

}
@media (max-width: 767.98px){
    .section_featured-products-tabs * + .tab_content_wrapper{
        max-width: 100%;
        width: 100%;
        margin: 0 auto ;
        /* margin-top: 15px !important; */

    }

    .section-style-template--18057764241682__164145554029689e88{
        height: fit-content !important;
        /* padding-bottom: 30px; */
        overflow: hidden;
    }
    .image-item-wrapper{
        height: 100% !important;
        width: 100% !important;
    }
    .image-item-wrapper img{
        height: 100% !important;
    }
    .section_image-with-text-column .h1 p {
        font-weight: 300;
        line-height: 45px;
    }
    footer .footer_block {
        border-bottom: none;
        border-top: none;
    }
    .footer_item__newsletter .form-wrapper{
        border: none;
    }
    .footer_type_1 .newsletter__input {
        border: 1px solid white;
        border-radius: 50px;
        }
}

